{% extends 'layout.html' %}

{% block head %}{% endblock %}
{% block title %}Customer View{% endblock %}
{% block content %}
<div class="view" >
	<h2 style="margin: 25px;text-align: center;padding: 15px 0 0 0;">Customers</h2>
	<table class="content-table">
		<thead>
		<tr>
			<th><u>SSN</u></th>
			<th>Full Name</th>
			<th>Gender</th>
			<th>Mobile</th>
			<th>Age</th>
			<th>Address</th>
		</tr>      
		</thead>

		<tbody>
		{% for customer in data %}
		<tr>
			{% for i in customer %}
			<td>{{i}}</td> 
			{% endfor %}
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block footer %}
{% endblock %}